.container {
    text-align: center;
}

.logo {
    height: 40vmin;
}

.title {
    text-align: center;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
